.contenido__container{
    display: block;
    justify-content: space-;
    align-items: center;
    padding: 10px 30px;
}
.producto__title{
    text-decoration: underline;
    font-size: x-large;
}
.product{
    font-size: 1.2rem;
}   